body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    color: #007bff;
    text-align: center;
    font-size: 2.5em;
    /* Slightly larger font size */
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: 700;
    /* Bolder font weight */
    font-family: 'Roboto', sans-serif;
    /* Applying the Roboto font */
    text-shadow: 1px 1px 2px #6c757d;
}


form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 800px;
    /* Adjusted width */
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #218838;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    form {
        flex-direction: column;
    }

    .left-section,
    .right-section,
    .full-width {
        flex-basis: 100%;
    }
}

/* Styles for the layout */
.left-section {
    flex-basis: 60%;
    /* Larger width for photo box */
    margin-right: 2%;
    /* Small gap between sections */
}

.right-section {
    flex-basis: 38%;
    /* Remaining space for about me section */
}

.full-width {
    flex-basis: 100%;
    /* Takes full width */
    margin-top: 20px;
}

.photo-upload-container {
    margin: 0;
    border: 2px dashed #ccc;
    border-radius: 10px;
    width: 100%;
    /* Full width of its container */
    height: 300px;
    /* Increased height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo-upload-container input[type="file"] {
    width: 100%;
    height: 100%;
    opacity: 0;
}

#uploadButton {
    padding: 10px 20px;
    margin-top: 10px;
}

.course-selection select[multiple] {
    width: 100%;
    height: auto;
    /* Adjust the height based on your needs */
    padding: 5px;
    border: 1px solid #ccc;
}

.course-selection label {
    display: block;
    margin-bottom: 5px;
}